*.OK
*.exe
*.ho
*.md5
*.new
*.o
*.ok
*.swp
*~
Debug/
MacOS/dist/
Makefile
Makefile.in
TODO*
Xcode/DerivedData/
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doxygen/
grisbi*.tar.*
install-sh
install.txt
libtool
ltmain.sh
m4
missing
mkinstalldirs
stamp-h1
tags
test-driver
