*.OK
*.exe
*.ho
*.md5
*.new
*.o
*.ok
*.rpath
*.sha256sum
*.swp
*~
*.bak
.anjuta/
.anjuta*
grisbi.anjuta
Debug/
MacOS/dist/
Makefile
Makefile.in
TAGS
TODO*
Xcode/DerivedData/
Xcode/grisbi.xcodeproj/project.xcworkspace/xcuserdata
Xcode/grisbi.xcodeproj/xcuserdata
MacOS/Grisbi Launcher/Grisbi Launcher.xcodeproj/xcuserdata
MacOS/Grisbi Launcher/DerivedData
MacOS/Grisbi Launcher/Grisbi Launcher.xcodeproj/project.xcworkspace/xcuserdata
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doxygen/
grisbi*.tar.*
install-sh
install.txt
libtool
ltmain.sh
m4
missing
mkinstalldirs
stamp-h1
tags
test-driver
.DS_Store
*.mo
*.gmo
POTFILES
grisbi.pot
po/*.header
po/*.sed
po/*.sin
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/stamp-*
