Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
install-sh
ltmain.sh
missing
mkinstalldirs
Makefile
config.h
config.log
config.status
libtool
stamp-h1
grisbi*.tar.*
m4
*.exe
.anjuta*
gisbi.anjuta
TODO*
