version: 1.0.{build}
image: Visual Studio 2017
clone_folder: c:\projects\grisbi-src
init:
- cmd: >-
    c:\msys64\usr\bin\bash -lc "echo MSYSTEM=%MSYSTEM% > /appveyor.environment"


    c:\msys64\usr\bin\bash -lc "pacman -S unzip --noconfirm"


    c:\msys64\usr\bin\bash -lc "wget -O /nsis.zip \"https://kent.dl.sourceforge.net/project/nsis/NSIS%203/3.03/nsis-3.03.zip\""

    c:\msys64\usr\bin\bash -lc "cd / && unzip nsis.zip"
environment:
  matrix:
  - MSYSTEM: MINGW32
  - MSYSTEM: MINGW64
install:
- cmd: >-
    c:\msys64\usr\bin\bash -lc "cd /c/projects/grisbi-src/share && ./appveyor-install.sh"

    c:\msys64\usr\bin\bash -lc "ls /mingw*/share/glib-2.0/schemas/gschema.dtd"
build_script:
- cmd: c:\msys64\usr\bin\bash -lc "cd /c/projects/grisbi-src/share && ./appveyor-build.sh"
artifacts:
- path: share/Grisbi-32bit-$(appveyor_build_version)-setup.exe
  name: Grisbi 32-bit
- path: share/Grisbi-64bit-$(appveyor_build_version)-setup.exe
  name: Grisbi 64-bit
deploy:
- provider: GitHub
  release: v$(appveyor_build_version)
  auth_token:
    secure: sZu+i3QuPeW93JlxEBOJ7E1WYsAZQtIsOHVjzftLxkBvBKX/9Akt4GRYUdQWK3/Z
  artifact: Grisbi 32-bit
  draft: true
  on:
    MSYSTEM: MINGW32
- provider: GitHub
  release: v$(appveyor_build_version)
  auth_token:
    secure: sZu+i3QuPeW93JlxEBOJ7E1WYsAZQtIsOHVjzftLxkBvBKX/9Akt4GRYUdQWK3/Z
  artifact: Grisbi 64-bit
  draft: true
  on:
    MSYSTEM: MINGW64