[Desktop Entry]
Name=Grisbi
Comment=Surveille l'expiration d'échéances
Exec=grisbi_applet --activate-goad-server=grisbi_applet
Icon=grisbi.png
Terminal=0
Type=Application
