<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>

	<key>CFBundleExecutable</key>
	<string>Grisbi</string>
	
	<key>CFBundleGetInfoString</key>
	<string>2.1.0 Copyright 2014 Grisbi Team</string>
	
	<key>CFBundleIconFile</key>
	<string>Grisbi.icns</string>
	
	<key>CFBundleIdentifier</key>
	<string>org.grisbi.Grisbi</string>
	
	<key>CFBundleInfoDictionaryVersion</key>
	<string>7.0</string>
	
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>CFBundleVersion</key>
	<string>0.1</string>

	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2021 Grisbi Team, GNU General Public License.</string>

	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>

	<key>NSHighResolutionCapable</key>
	<true/>


	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.grisbi.Grisbi.gsb</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Grisbi file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gsb</string>
				</array>
			</dict>
		</dict>
	</array>

	<key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeIconFiles</key>
            <array>
	            <string>GrisbiFile.icns</string>
	        </array>
            <key>CFBundleTypeName</key>
            <string>Grisbi File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>org.grisbi.Grisbi.gsb</string>
            </array>
        </dict>
    </array>

</dict>
</plist>
